.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  color: var(--ev-c-text-4);
}

.calendar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-height: 0;
  padding: 1%;
}

.headings {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin-right: 15px;
  font-weight: bold;
  border-bottom: 2px solid var(--ev-c-gray-1);
}

.event-content {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  height:auto;
  min-height: 0;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.headings, .rows {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  gap: 2px;
  flex-direction: row;
}

.rows {
    border-bottom: 1px solid var(--ev-c-gray-1);
}

.calendar p {
  width: 100%;
}